<!--<div ng-controller="sharingCtrl"> <!--ng-controller="sharingCtrl"  <div ng-init="shareditems = [
			    	{name: 'Lötkolben', available: true},
			    	{name: 'Fahrradschlauch-Reperaturset', available: true}
				  ]">-->
<div ng-init="shareditems = [
			    	{name: 'Lötkolben', status: 1},
			    	{name: 'Fahrradschlauch-Reperaturset', status: 1},
			    	{name: 'Reiter-Set', status: 2},
			    	{name: 'Schlagbohrmaschine', status: 1},
			    	{name: 'Lötkolben', status: 1},
			    	{name: 'Fahrradschlauch-Reperaturset', status: 1},
			    	{name: 'Lötkolben', status: 1},
			    	{name: 'mein handy reparatur set', status: 3},
			    	{name: 'silent brass', status: 2}
				  ]">
				  
	<div class="row">
		<h2>sharing for caring</h2>
		
		
		<div class="col-md-6">
			

										
			
			<div class="panel panel-success">
				  <div class="panel-heading">
				    <h3 class="panel-title">available items</h3>
				  </div>
					
				  <ul class="list-group">
				  	<li class="list-group-item">
				    	<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-filter"></span></span>
							<input type="search" class="form-control" ng-model="q" placeholder="filter" >
						</div>
			    	</li>
			    	
			     	 <li class="list-group-item" ng-repeat="item in shareditems | filter:status=1 | filter:q">
			     	 	
			     	 	    <div class="input-group">
						      <input type="text" class="form-control " disabled="disabled" value="{{item.name}}">
						      <div class="input-group-btn">
						        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						        	<span class="glyphicon glyphicon-pencil"></span>
						        </button>
						        
						        <ul class="dropdown-menu pull-right">
						        	<li>
						        	 	<a href="#"><span class="glyphicon glyphicon-share"></span> shared </a>
               						 </li>
						        	<li>
						        	 	<a href="#"><span class="glyphicon glyphicon-eye-close"></span> hide </a>
               						 </li>
						        	 <li>
						        	 	<a href="#"><span class="glyphicon glyphicon-remove"></span> delete </a>
               						 </li>
						        	 <li>
						        	 	<a href="#"><span class="glyphicon glyphicon-pencil"></span> edit </a>
               						 </li>	      
						        </ul>
						        
						      </div><!-- /btn-group -->
						    </div><!-- /input-group -->
			     	 	
			     	
			      	</li>
			     	
			     	<div class="panel-footer">
				     	 <form role="form" ng-submit="addSharingItem()">
	                        <div class="input-group">
	                          <span class="input-group-addon"><span class="glyphicon glyphicon-plus"></span></span>
	                          
	                          <input type="text" class="form-control" ng-model="list.new_Text" maxlength="30" placeholder="add new item">
	                          
	                          <span class="input-group-btn">
	                            <button class="btn btn-primary" type="submit">add</button>
	                          </span>
	                        </div>
	                    </form>
			     	</div>
			     
			     
			    </ul>
			</div>
		</div>
	
	
		<!-- shared items !-->
		<div class="col-md-6">
			<div class="panel panel-danger">
				  <div class="panel-heading">
				    <h3 class="panel-title">borrowed items</h3>
				  </div>
					
				  <ul class="list-group">
				  	<li class="list-group-item">
				    	<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-filter"></span></span>
							<input type="search" class="form-control" ng-model="qb" placeholder="filter" >
						</div>
			    	</li>
			    	
			    
			     	<li class="list-group-item" ng-repeat="item in shareditems | filter:status=2 | filter:qb">
			     	 	<div class="form-group">
			     	 		{{item.name}} 
						      
						        <button type="button" class="pull-right btn btn-default dropdown-toggle" data-toggle="dropdown">
						        	<span class="glyphicon glyphicon-pencil"></span>
						        </button>
						        
						        <ul class="dropdown-menu pull-right">
						        	<li>
						        	 	<a href="#"><span class="glyphicon glyphicon-check"></span> back home </a>
               						 </li>
						        	<li>
						        	 	<a href="#"><span class="glyphicon glyphicon-eye-close"></span> hide </a>
               						 </li>
						        	 <li>
						        	 	<a href="#"><span class="glyphicon glyphicon-remove"></span> delete </a>
               						 </li>
						        	 <li>
						        	 	<a href="#"><span class="glyphicon glyphicon-pencil"></span> edit </a>
               						 </li>	      
						        </ul>
						        
						   
			     	 	</div>
			     	 	
			     	
			      	</li>
			     	
			     	
			     
			     
			    </ul>
			</div>
		</div>
		
		
		<div class="col-md-6">
			<div class="panel panel-warning">
				  <div class="panel-heading">
				    <h3 class="panel-title">hidden items</h3>
				  </div>
					
				  <ul class="list-group">
				  	<li class="list-group-item">
				    	<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-filter"></span></span>
							<input type="search" class="form-control" ng-model="qh" placeholder="filter" >
						</div>
			    	</li>
			    	
			    
			     	 <li class="list-group-item" ng-repeat="item in shareditems | filter:status=3 | filter:qh">
			     	 	
			     	 	    <div class="input-group">
						      <input type="text" class="form-control " disabled="disabled" value="{{item.name}}">
						      <div class="input-group-btn">
						        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						        	<span class="glyphicon glyphicon-pencil"></span>
						        </button>
						        
						        <ul class="dropdown-menu pull-right">
						        	<li>
						        	 	<a href="#"><span class="glyphicon glyphicon-eye-open"></span> publish </a>
               						 </li>
						        	 <li>
						        	 	<a href="#"><span class="glyphicon glyphicon-remove"></span> delete </a>
               						 </li>
						        	 <li>
						        	 	<a href="#"><span class="glyphicon glyphicon-pencil"></span> edit </a>
               						 </li>	      
						        </ul>
						        
						      </div><!-- /btn-group -->
						    </div><!-- /input-group -->
			     	 	
			     	
			      	</li>
			     	
			     	
			     	</div>
			     
			     
			    </ul>
			</div>
		</div>
		
		
	</div>
	
</div>
