<% content_for :robots, "NOINDEX, NOFOLLOW" %>

<% content_for :title, t('.page_title') %>

  <section class="hidden-print">
    <h1 class="page-header"><%= t('.page_header') %></h1>
  </section>

  <div class="container">
  	<div class="row">
  		<div class ="col-md-6 col-md-offset-2">

  			<!--CREATE TABLE TO GET NEW FINANCE DATA
      <table class="table table-striped">
              <tr>
                <th>-->
  			<div class="panel panel-defaul">
  			
  				<div class="panel-body">
  					
               <div class="form-group">
  								<label for="InputName">Name</label>
                  <input type="text" class="form-control" name ="InputName" ng-model="finTmp.text" id="InputName" placeholder="Einkauf Nudeln">
                </div>
  						<div class="form-group">
  								<label for="InputAusgaben">Value:</label>
  							<input type="text" class="form-control" ng-model="finTmp.value" id="InputAusgaben" placeholder="144,40">
  						</div>
  						<div class="form-group">
  								<label for"InputDate">Date:</label>
                  <input type="text" class="form-control" ng-model="finTmp.date"id="Inputdate" placeholder="01.06.2014">
               </div>
              <div class="form-group">
  								<label for="InputCategorie">Category:</label>
  								<input type="text" class="form-control" id="InputCategorie" ng-model="finTmp.cat_name" placeholder="Lebensmittel">
  						</div>
            <div class="form-group">
                  <label for="Payer">Who paid?:</label>
                <!-- <div class="btn-group">
                   <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                    FlatMates </i>
                    <span class="caret"></span>
                  </button>
                   <!--<ul class="dropdown-menu" role="menu" ng-repeat="mates in getFlatMates">-->
                    <select ng-model="finTmp.payer" ng-options="mates.name for mates in getFlatMates"></select>
                     <!-- <li><a href="" ng-model="debtTmp.payee" ng-click="test()">{{mates.name}}</a></li>  </ul>-->
                   
              </div>

               <div class="form-group">
  								<label for="who"><%= t('.bill_affects') %></label>
                  <p></p>              
  						    <a ng-repeat="mates in getFlatMates">            
                  <div class="btn-group" data-toggle="buttons">
                   <label class="btn btn-primary">
                    <input type="checkbox" ng-model="finTmp.payees[payee($index+1)]">{{mates.name}}
                  </label><br></br> 
                 <a/>
  		           </div>
                </div>
              

          <div class="panel-footer">  
            <div style='float:right'>
              <a href="/#/finances_overview">
                <button type="submit" class="btn btn-primary" ng-click="addEntry()"><i class="fa fa-check"></i><span class="hidden-xs"> Save</span></button>
              </a>
            </div>
        
            <div style='float:left'>
              <a href="/#/finances">
                <button type="submit" class="btn btn-primary" ng-click="test()"><i class="fa fa-undo"></i> 
                  <span class="hidden-xs"> Back</span></button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>