<% content_for :robots, "NOINDEX, NOFOLLOW" %>

<% content_for :title, t('.page_title') %>

  <section class="hidden-print">
    <h1 class="page-header"><%= t('.page_header') %></h1>
  </section>

 <div class="panel-body">
 
 	<div style="margin:auto; width:450px; padding:40px border: 1px solid black;" >
  		<table class="table table-striped">
  			<tr>
  				<th><label for="Date">Datum:</label>
  				</th>
  				<th><label for="Name">Name:</label>
  				</th>
  				<th><label for="Cat">Kategorie:</label>
  				</th>
  				<th><label for="Ausgaben">Ausgaben:</label>
  				</th>
          <th>
          </th>
  			</tr>
      
  			<tr ng-repeat="finance in finances | orderBy: '-date' track by $index" class ="">
  				<th>{{finance.date | date : 'mediumDate'}}
  				</th>
  				<th>{{finance.name}}
  				</th>
  				<th>
  					{{finance.cat_name}}
  				</th>
  				<th>
  					{{finance.value}}
  				</th>
          <th> 
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
               <span class="glyphicon glyphicon-pencil"></span>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a href="" ng-click="removeEntry(finance)"><span class="glyphicon glyphicon-trash"></span> remove Entry</a>
                </li>
                <li>
                  <a href="" ng-click="updateEntry(finance)"><span class="glyphicon glyphicon-pencil">edit</span>
                  </a>
                </li>
              </ul>
          </div>
          </th>
  			</tr>
      </div>
  		</table>
      <div style='float:left'>
              <form action="/#/finances">
                <button type="submit" class="btn btn-primary">BACK</button>
              </form>
            </div>
  	</div>
  </div>