<% content_for :robots, "NOINDEX, NOFOLLOW" %>

<% content_for :title, t('.page_title') %>

  <section class="hidden-print">
    <h1 class="page-header"><%= t('.page_header') %></h1>
  </section>

 <div class="panel-body">
  <div ng-repeat="finance in finances">
 	<div style="margin:auto; width:450px; padding:40px border: 1px solid black;">
  		<table class="table table-striped">
  			<tr>
  				<th><label for="Date">Datum:</label>
  				</th>
  				<th><label for="Name">Name:</label>
  				</th>
  				<th><label for="Cat">Kategorie:</label>
  				</th>
  				<th><label for="Ausgaben">Ausgaben:</label>
  				</th>
  			</tr>
  			<tr>
  				<th>{{finance.date}}
  				</th>
  				<th>{{finance.name}}
  				</th>
  				<th>
  					{{finance.category}}
  				</th>
  				<th>
  					{{finance.value}}
  				</th>
  			</tr>
        <tr>
          <th>19.09.1999
          </th>
          <th>blabla
          </th>
          <th>
            Strom
          </th>
          <th>
            50,00
          </th>
        </tr>
        <tr>
          <th>19.09.1999
          </th>
          <th>blabla
          </th>
          <th>
            Strom
          </th>
          <th>
            50,00
          </th>
        </tr>
        <tr>
          <th>19.09.1999
          </th>
          <th>blabla
          </th>
          <th>
            Strom
          </th>
          <th>
            50,00
          </th>
        </tr>
        <tr>
          <th>19.09.1999
          </th>
          <th>blabla
          </th>
          <th>
            Strom
          </th>
          <th>
            50,00
          </th>
        </tr>
        <tr>
          <th>19.09.1999
          </th>
          <th>blabla
          </th>
          <th>
            Strom
          </th>
          <th>
            50,00
          </th>
        </tr>
        <tr>
          <th>19.09.1999
          </th>
          <th>blabla
          </th>
          <th>
            Strom
          </th>
          <th>
            50,00
          </th>
        </tr>
  		</table>
  	</div>
  </div>