<% content_for :robots, "NOINDEX, NOFOLLOW" %>

<% content_for :title, t('.page_title') %>


  <section class="hidden-print">
    <h1 class="page-header"><span class="fa fa-bitcoin"></span> <%= t('.page_header') %></h1>
  </section>

<div class ="container">
 <div class="row">
  <div class="col-md-6">


    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Monat </i>
          <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
          <li><a href="#">J채nner</a></li>
          <li><a href="#">Februar</a></li>
          <li><a href="#" class="list-group-item active">M채rz</a></li>
          <li><a href="#">April</a></li>
          <li><a href="#">Mai</a></li>
          <li><a href="#">Juni</a></li>
          <li><a href="#">Juli</a></li>
          <li><a href="#">August</a><li>
          <li><a href="#">September</a><li>
          <li><a href="#">Oktober</a><li>
          <li><a href="#">November</a><li>
          <li><a href="#">Dezember</a><li>
      </ul>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <center>Gesamt: 450 <i class="fa fa-eur"></i></center>
      </div>

     <center>
      <!--CREATE DONUGHT-CHART-->
      <script type="text/javascript">

      var data =[
       {
         value: 30,
         color:"#F7464A"
       },
       {
         value:100,
         color:"#AF0ADC"
       },
       {
         value:43,
         color:"#11C2F2"
       },
       {
         value: 30,
         color:"#949FB1"
       },
       {
         value: 10,
         color:"#4D5360"
       }

     ];
     var ctx = document.getElementById("myChart").getContext("2d");

     new Chart(ctx).Doughnut(data,null);
     </script>

    <canvas id="myChart" width="400" height="400"></canvas>
   </center>
  </div>

  <div class="panel-body">
   <div style="margin:auto; width:auto; padding:auto border: 1px solid black;">
    <table class="table table-striped">
    <tr>
      <th><font color="#F7464A"><i class="fa fa-cutlery"></i> Lebensmittel</font></th>
      <th><font color="#AF0ADC"><i class="fa fa-shopping-cart"></i> Eink채ufe</font></th>
      <th><font color="#11C2F2"><i class="fa fa-truck"></i> Verkehrsmittel</font></th>
    </tr>
    <tr>
      <th>300
      </th>
      <th>120
      </th>
      <th>50
      </th>
    </tr>
    <tr>
      <th><font color="#949FB1"><i class="fa fa-bolt"></i> Resourcen</font></th>
    <th><font color="#4D5360"><i class="fa fa-plus"></i> Sonstiges</font></th>
     <th>
     </th>
    </tr>
    <tr>
     <th>50
     </th>
    <th>20
     </th>
     <th>
    </th>
   </table>
  </div>
 </div>
</div>

  <div class="col-md-6">
     <div class="btn-group">
     <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
         Edit
          <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
          <li><a href="#">Delete</a></li>
          <li><a href="#">Edit</a></li>
        </ul>
      </div>
    <div class="panel panel-default">
      <div class="panel-heading">
       <center> Ausgaben체bersicht</center>

     </div>
     <div class="panel-body">
      <div style="margin:auto; width:auto; padding:auto border: 1px solid black;">
      <table class="table table-striped">
        <tr>
          <th>Date
          </th>
          <th>Name
          </th>
          <th>Kategorie
          </th>
          <th>Value
          </th>
        </tr>
        <tr>
          <th>10.03.2014
          </th>
          <th>Essen
          </th>
          <th>Lebensmittel
          </th>
          <th>12,99
          </th>
        </tr>
        <tr>
          <th>10.03.2014
          </th>
          <th>Essen
          </th>
          <th>Lebensmittel
          </th>
          <th>12,99
          </th>
        </tr>
        <tr>
          <th>10.03.2014
          </th>
          <th>Essen
          </th>
          <th>Lebensmittel
          </th>
          <th>12,99
          </th>
        </tr>
        <tr>
          <th>10.03.2014
          </th>
          <th>Essen
          </th>
          <th>Lebensmittel
          </th>
          <th>12,99
          </th>
        </tr>
        <tr>
          <th>10.03.2014
          </th>
          <th>Essen
          </th>
          <th>Lebensmittel
          </th>
          <th>12,99
          </th>
        </tr>
      </table>
                <div class="panel-footer announcement-bottom">
                  <form action="/#/finances_new">
                            <button class="btn btn-primary"
                                    type="submit">
                              <span class="glyphicon glyphicon-plus"></span><%= t(".add") %>
                            </button>
                    </form>
                    <div class="text-right">
              <a href="/#/finances_overview">Show All <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
      <div class="panel-heading">
       <center> Schulden/Guthaben</center>
     </div>
      <div class="panel-body">
          <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Bewohner</th>
                  <th class="text-right">Saldo</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Michi</td>
                  <td class="text-right">-100.00</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Clemens</td>
                  <td class="text-right">+100.00</td>
                </tr>
              </tbody>
              <tfoot>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="text-right">0.00</td>
                  </tr>
              </tfoot>
            </table>
    </div>

  <div class="panel-footer announcement-bottom">
                    <form role="form" name="Itemform" ng-submit="addItem(list)">
                        <div class="input-group">


                          <input type="text" class="form-control"
                                  ng-model="list.new_Text"
                                  maxlength="30"
                                  placeholder="Name Value" required>

                          <span class="input-group-btn">
                            <button class="btn btn-primary"
                                    type="submit">

                              <span class="glyphicon glyphicon-plus"></span> <%= t(".add") %>
                            </button>
                         </span>
                        </div>
                    </form>

                </div>
              </div>
</div>
</div>

