<% content_for :robots, "NOINDEX, NOFOLLOW" %>

<% content_for :title, t('.page_title') %>

  <section class="hidden-print">
    <h1 class="page-header"><%= t('.page_header') %></h1>
  </section>

  <div class="container">
  	<div class="row">
  		<div class ="col-md-6 col-md-offset-2">

  			<!--CREATE TABLE TO GET NEW FINANCE DATA-->
  			<div class="panel panel-defaul">
  			
  				<div class="panel-body">
  					<table class="table table-striped">
  						<tr>
  							<th>
  								<label for="InputName">Name:</label>
  							</th>
  						</tr>
  						<tr>
  							<th>
  								<input type="text" class="form-control" ng-model="finTmp.name" id="InputName" placeholder="Einkauf Nudeln">
  							</th>
  						</tr>
  						<tr>
  							<th>
  								<label for="InputAusgaben">Betrag:</label>
  							</th>
  						</tr>
  						<tr>
  							<th>
  								<input type="text" class="form-control" ng-model="finTmp.value" id="InputAusgaben" placeholder="144,40">
  							</th>
  						</tr>
  						<tr>
  							<th>
  								<label for"InputDate">Datum:</label>
  							</th>
  						</tr>
               <tr>
                <th>
                  <input type="text" class="form-control" ng-model="finTmp.date"id="Inputdate" placeholder="01.06.2014">
                </th>
              </tr>
              <tr>
                <th>
  								<label for="InputCategorie">Kategorie:</label>
  						  </th>
              </tr>
              <tr>
  						  <th>
  								<input type="text" class="form-control" id="InputCategorie" ng-model="finTmp.cat" placeholder="Lebensmittel">
  							</th>
  						</tr>

             
              <!--
  						<tr>
  							<th>
  								<label for="who">betrifft:</label>
  							</th>
  						</tr>
  						<tr>
  							<th>
                  <div class="checkbox">
                   <input type="checkbox">Chk Bw1
                 </div>
  							</th>
              </tr>
              <tr>
  							<th>
                  <div class="checkbox">
  								<input type="checkbox">Chk BW2</div>
  							</th>
  						</tr>
  						<tr>
  							<th>
                  <div class="checkbox">
  								<input type="checkbox">Chk BW3
                </div>
  							</th>
              </tr>
              <tr>
  							<th>
                  <div class="checkbox">
  								<input type="checkbox">Chk BW4
                </div>
  							</th>
  						</tr>
  						-->
            </table>
  		
          <div class="panel-footer">  
            <div style='float:right'>
              <form action="/#/finances_overview">
                <button type="submit" class="btn btn-primary" ng-click="addEntry()">SUBMIT</button>
              </form>
            </div>
      
            <div style='float:left'>
              <form action="/#/finances">
                <button type="submit" class="btn btn-primary">BACK</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>