<div class="page-head dropdown">
    <h1 class="page-header page-header-fixed-xs">
        <span class="fa fa-bitcoin"></span>
        <%=t ( '.page_header') %>

            <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary dropdown-toggle pull-right" data-toggle="dropdown" id="dropdownMenu1">
                    <span class="fa fa-plus danger"></span>
                    <span class="hidden-xs">
                        <%=t ( ".add_fin") %>
                    </span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li>
                        <a href="/#/finances_new">
                            <i class="fa fa-credit-card"></i> 
                            <%=t ( ".newBill") %>
                        </a>
                    </li>
                    <li>
                        <a href="/#/create_payment">
                            <i class="fa fa-money"></i> 
                            <%=t ( ".newPaym") %>
                        </a>
                    </li>
                </ul>
            </div>
    </h1>
</div>


<div class="row scrollable-content-xs">
    <div class="col-md-7" ng-show="arePaymentsToShow() || finances.subset.length !== 0 && !isLoading()">
        <div class="panel panel-default" ng-show="overviewMates.length != 0">
            <div class="panel-heading text-center">
                <i class="fa fa-money"></i>
                <%=t ( ".overview_flat_members") %>
            </div>
            <div class="panel-body">
<!--                 <div class="row">
                    <div class="col-md-12"> -->
                        <div class="panel-group row" id="accordion">
                            <div style="margin-top:18px" ng-repeat="overviewMate in overviewMates track by $index" class="panel panel-default">
                                <div class="panel-heading" ng-click="setSelectedOverviewMateIndex($index)" data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{$index}}">
                                    <div class="row panel-title" style="cursor: pointer;" id="test">
                                        <div class="col-xs-2 col-sm-1">
                                            <img style="height:35px; width:35px" class="img-circle" ng-src="{{overviewMate.img_path}}" />
                                        </div>
                                        <div class="col-xs-10 col-sm-11">
                                            <div class="pull-left">
                                                <span>{{overviewMate.name}}</span>
                                                <span ng-show="overviewMate.value > 0">
                                                    <%=t ( '.owes_you') %>
                                                </span>
                                                <span ng-show="overviewMate.value < 0">
                                                    <%=t ( '.gets') %>
                                                </span>
                                            </div>
                                            <div class="pull-right">
                                                <span ng-class="{'text-success':overviewMate.value >0, 'text-danger': overviewMate.value
                                                            < 0}">
                                                    {{Math.abs(overviewMate.value) | customCurrency : '€ '}}
                                                </span>
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="collapse{{$index}}" class="panel-collapse collapse">
                                    <div class="panel-body" id="body{{$index}}">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="row adv-table editable-table">
                                                <div ng-show="{{overviewMate.entries.length === 0}}">
                                                    <%=t ( '.no_entries') %>
                                                </div>
                                                <table ng-hide="{{overviewMate.entries.length === 0}}" class="table table-striped table-hover table-borderless table-scrollable" id="editable-sample">
                                                    <thead>
                                                        <tr>
                                                            <th class="hidden-xs">
                                                                <%=t ( '.date') %>
                                                            </th>
                                                            <th>
                                                                <%=t ( '.what') %>
                                                            </th>

                                                            <th class="text-right">
                                                                <%=t ( '.full') %>
                                                            </th>

                                                            <th class="text-right">
                                                                <%=t ( '.value') %>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="entry in overviewMate.entries">
                                                            <td class="hidden-xs">{{entry.date| date : 'shortDate'}}</td>
                                                            <td>
                                                                <span ng-hide="entry.isPayment" class="visible-xs">{{sliceText(entry.what)}}</span>
                                                                <span ng-hide="entry.isPayment" class="hidden-xs">{{entry.what}}</span>
                                                                <span ng-show="entry.isPayment">
                                                                    <%=t ( '.payment') %>
                                                            </td>
                                                            <td class="text-right"> <span ng-hide="entry.isPayment"> {{entry.total_price| customCurrency : '€ '}}</span></td>
                                                            <td class="text-right" ng-class="{'text-success':entry.value >
                                                        0, 'text-danger': entry.value
                                                        < 0}">{{entry.value| customCurrency : '€ '}}</td>
                                                            <td>
                                                                <button class="btn btn-default btn-xs pull-right" ng-show="entry.isPayment && entry.payer_id == overviewMate.id" ng-click="removePayment(entry,  overviewMate)">
                                                                    <span class="glyphicon glyphicon-trash"></span>
                                                                </button>

                                                            </td>
                                                        </tr>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-12">
                                            <div class="text-right">
                                                <a href="" ng-click="Util.redirect_to.finance_overview_mate(overviewMate.id)">
                                                    <%=t ( ".show_all") %> <i class="fa fa-arrow-circle-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
  <!--                   </div>
                </div> -->
            </div>
            <div class="panel-footer announcement-bottom">
                &nbsp;
                <span class="hidden-xs">
                    <%=t ( '.received_money_enter_payment')%>
                </span>
                <span class="pull-right">
                    <a href="/#/create_payment">
                        <%=t ( ".add_payment") %> <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </span>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <i class="fa fa-credit-card"></i> 
                <%=t ( ".spendings") %>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tr>
                        <th class="hidden-xs">
                            <%=t ( ".date") %>
                        </th>
                        <th>
                            <%=t ( ".name") %>
                        </th>
                        <th class="hidden-xs">
                            <%=t ( ".cat")%>
                        </th>
                        <th>
                            <%=t ( ".who_paid")%>
                        </th>
                        <th class="text-right">
                            <%=t ( ".value")%>
                        </th>
                        <th>&nbsp;</th>
                    </tr>
                    <tr ng-repeat="finance in finances.subset track by $index">
                        <td class="hidden-xs">{{finance.date| date: 'shortDate'}}</td>
                        <td class="visible-xs">{{sliceText(finance.name)}}</td>
                        <td class="hidden-xs">{{finance.name}}</td>
                        <td class="hidden-xs">{{finance.cat_name}}</td>
                        <td>
                            <span ng-class="{'bold': finance.user_id === current_user.id}">{{finance.user_name}}</span>
                        </td>
                        <td class="text-right">{{finance.value| customCurrency : '€ '}}</td>
                        <td>
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/#/finances_edit/{{finance.id}}">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                            <%=t ( ".edit") %>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" ng-click="removeEntry(finance)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                            <%=t ( ".delete") %>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel-footer announcement-bottom">
                <div class="text-right">
                    <a href="/#/bills_overview">
                        <%=t ( ".show_all") %> <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5" ng-show="arePaymentsToShow() || finances.subset.length !== 0 && !isLoading()">
        <div class="panel panel-default hidden-xs" ng-show="enoughEntries()">
            <div class="panel-heading text-center">
                <i class="fa fa-info"></i> 
                <%=t ( ".biggest_by_cat") %>
            </div>
            <div class="panel-body">
                <canvas donutchart options="" data="chartData" width="500" height="300"></canvas>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-4 col-sm-4" ng-repeat="cat in chartData" title="{{cat.value | customCurrency : '€ '}}">
                        <i class="fa fa-circle" style="color: {{cat.color}}"></i> {{cat.cat_name}}</br>({{cat.value | customCurrency : '€ '}})
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="jumbotron text-center" ng-show="!arePaymentsToShow() && finances.subset.length === 0 && !isLoading()">
            <i class="fa fa-bitcoin fa-5x"></i>
            <h2>
                <%=t ( ".help_title") %>
            </h2>
            <%=t ( ".help_paragraph1") %>
        </div>
    </div>
</div>
