<% content_for :robots, "NOINDEX, NOFOLLOW" %>

<% content_for :title, t('.page_title') %>

  <section class="hidden-print">
    <h1 class="page-header"><%= t('.page_header') %></h1>
  </section>

  <div class="container">
  	<div class="row">
  		<div class ="col-md-10 col-md-offset-2">

  			<!--CREATE TABLE TO GET NEW FINANCE DATA-->
  			<div class="panel panel-defaul">
  			
  				<div class="panel-body">
  					<table class="table table-striped" ng-submit="addEntry()">
  						<tr>
  							<th>
  								<label for="InputName">Name:</label>
  							</th>
  						</tr>
  						<tr>
  							<th>
  								<input type="text" class="form-control" ng-model="newFinance.name" id="InputName" placeholder="Einkauf Nudeln">
  							</th>
  						</tr>
  						<tr>
  							<th>
  								<label for="InputAusgaben">Betrag:</label>
  							</th>
  						</tr>
  						<tr>
  							<th>
  								<input type="text" class="form-control" ng-model="newFinance.value" id="InputAusgaben" placeholder="144,40">
  							</th>
  						</tr>
  						<tr>
  							<th>
  								<label for"InputDate">Datum:</label>
  							</th>
  							<th>
  								<label for="InputCategorie">Kategorie:</label>
  							</th>
  						</tr>
  						<tr>
  							<th>
  								<input type="text" class="form-control" ng-model="newFinance.date"id="Inputdate" placeholder="01.06.2014">
  							</th>
  							<th>
  								<input type="text" class="form-control" id="InputCategorie" ng-model="newFinance.categorie" placeholder="Lebensmittel">
  							</th>
  						</tr>
  						<tr>
  							<th>
  								<label for="who">betrifft:</label>
  							</th>
  						</tr>
  						<tr>
  							<th>
                  <div class="checkbox">
                   <input type="checkbox">Chk Bw1
                 </div>
  							</th>
  							<th>
                  <div class="checkbox">
  								<input type="checkbox">Chk BW2</div>
  							</th>
  						</tr>
  						<tr>
  							<th>
                  <div class="checkbox">
  								<input type="checkbox">Chk BW3
                </div>
  							</th>
  							<th>
                  <div class="checkbox">
  								<input type="checkbox">Chk BW4
                </div>
  							</th>
  						</tr>
  						
            </table>
  			
          <div class="panel-footer">
          <form action="/#/finances">
            <button type="submit" class="btn btn-default" text-align="left">BACK</button>
          </form>
          <form action="/#/finances_overview">
            <button type="submit" class="btn btn-default" text-align="right">SUBMIT</button>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>