<% content_for :title, t('.page_title') %>

<div class="row" style="margin-left: 20px; margin-right: 5px">
  <div class="page-head">
      <h2 class="page-header">
        <span class="fa fa-envelope"></span>
        {{chatPartner.name}}
        <a href="/#/chats">
          <button class="close" aria-hidden="true">&times;</button>
        </a>
      </h2>
  </div>
</div>
<body>
  <div ng-init="getMessages()"></div>
  <div  class="modal-body" 
        name="scrollarea" 
        id="scrollarea"
        style="overflow-y: auto; overflow-x: hidden;">
    <div ng-repeat="message in messages">
      <div ng-show="currentUserIsSender(message) || !currentlyRead(message, setAllRead)">
        <a class="list-group-item" style="margin-top: 6px">
          <div class="list-group-item-heading" ng-model="Username">
            <strong>{{message.sender_name}}</strong>
            <span class="time pull-right" style="font-size:x-small">
              <i class="fa fa-clock-o"></i> 
              {{parseTime(message.created_at, "1")}}
            </span>
          </div>
          <div class="list-group-item-text">
            <div class="row">
              <div class="col-xs-12 col-md-12">
                {{parseNewline(message.text, false, $index, false)}}
                <span ng-repeat="msgText in chatTexts[$index] track by $index"> {{msgText}} <br></span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div ng-show="!currentUserIsSender(message) && currentlyRead(message, setAllRead)">
        <a class="list-group-item active" style="margin-top: 6px">
          <div class="list-group-item-heading" ng-model="Username">
            <strong>{{message.sender_name}}</strong>
            <span class="time pull-right" style="font-size:x-small">
              <i class="fa fa-clock-o"></i> 
              {{parseTime(message.created_at, "1")}}
            </span>
          </div>
          <div class="list-group-item-text">
            <div class="row">
              <div class="col-xs-12 col-md-12">
                {{parseNewline(message.text, false, $index, false)}}
                <span ng-repeat="msgText in chatTexts[$index] track by $index"> {{msgText}} <br></span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="modal-footer">
      <form role="form" name="SendForm" ng-submit="sendMessage()">
        <div class="row">
          <div class="col-lg-10 col-md-10 col-sm-10">
            <textarea autofocus 
                      name="inputtext" 
                      id="inputtext" 
                      class="form-control" 
                      rows="3" 
                      ng-model="newMess.text" 
                      type="text" 
                      placeholder="<%= t('.new_text_placeholder') %>" 
                      required maxlength="255">
            </textarea>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2">
            <a style="text-decoration: none;">
              <span class="hidden-lg hidden-md hidden-sm">
                <button style="margin-top: 6px" 
                        id="send" 
                        name="send" 
                        class="btn btn-success btn-block" 
                        onclick="start(100, true)" 
                        type="submit" 
                        ng-click="sendMessage()" 
                        ng-disabled="!SendForm.$valid">
                        <span class="glyphicon glyphicon-ok"></span> 
                        <%= t('.send') %>
                </button>
              </span>
              <span class="hidden-xs">
                <button id="send2" 
                        name="send" 
                        class="btn btn-success btn-block" 
                        onclick="start(100, true)" 
                        type="submit" 
                        ng-click="sendMessage()" 
                        ng-disabled="!SendForm.$valid">
                        <span class="glyphicon glyphicon-ok"></span> 
                        <%= t('.send') %>
                </button>
              </span>
            </a>
            <a href="/#/chats" style="text-decoration: none;">
              <button style="margin-top: 6px" type="button" class = "btn btn-default btn-block">
                <i class="glyphicon glyphicon-arrow-left"></i> <%= t('.back') %>
              </button>
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>


<!-- todo
- optimieren
- text der angezeigt wird begrenzen
- gleiche höhe für verschiedene browser
- alles am Anfang laden?
-->

