<% content_for :title, t('.page_title') %>


<div class="row">
  <div class="page-head">
      <h2 class="page-header"><span class="fa fa-envelope"></span> Nilpferd<a href="/#/messages"><button class="close" aria-hidden="true">&times;</button></a></h2>
     
  </div>
</div>
<body>
<br>
  <div class="modal-body" name="scrollarea" id="scrollarea" style="height: 270px; overflow-y: auto; overflow-x: hidden;">
    <div ng-repeat="message in messages">
      	<div class="panel panel-success">
           	<div class="list-group-item" ng-model="Username"><strong>{{message.receiver_name}}</strong></div>
           	<div class="panel-footer">
               	<div class="row">
               		<div class="col-xs-6 col-md-6">{{message.text}}</div>
               		<div class="col-xs-6 col-md-6">
                   		<span class="time pull-right" style="font-size:x-small"><i class="fa fa-clock-o"></i>{{message.time}}</span>
               		</div>
               	</div>
           	</div>
        </div>
      	
	</div>
 </div>
	<script type="text/javascript">
		$("#scrollarea").animate({ scrollTop: $(document).height() }, "fast");
	</script>
	<div class="modal-footer">
    <form role="form" name="SendForm">
 	    <div class="row">
         	<div class="col-lg-10 col-md-10 col-xs-8">
	   			    <textarea class="form-control" rows="3" ng-model="newText" type="text" maxlength="30" placeholder="<%= t('.new_text_placeholder') %>" required></textarea>
			    </div>
			    <div class="col-lg-2 col-md-2 col-xs-4">
             	<a href="/#/message_window" style="text-decoration: none;"><button class="btn btn-primary btn-block" type="submit" ng-click="createMessage()"><%= t('.send') %></button></a>
             	<a href="/#/messages" style="text-decoration: none;"><button type="button" class="btn btn-default btn-block"><%= t('buttons.labels.decision.close') %></button></a>
          </div>
		  </div>
    </form>
	</div>
</body>

<!-- div between body
  <div class="modal-body" name="scrollarea" id="scrollarea" style="height: 270px; overflow-y: auto; overflow-x: hidden;">
        <div class="panel panel-success">
            <div class="list-group-item"><strong>Person1</strong></div>
            <div class="panel-footer">
                <div class="row">
                  <div class="col-xs-6 col-md-6">Hallo Pferd, wie gefällt es dir bei flatman</div>
                  <div class="col-xs-6 col-md-6">
                      <span class="time pull-right" style="font-size:x-small"><i class="fa fa-clock-o"></i> today: 13:01 PM</span>
                  </div>
                </div>
            </div>
        </div>
        <div class="panel panel-success">
            <div class="list-group-item"><strong>Person1</strong></div>
            <div class="panel-footer">
                <div class="row">
                  <div class="col-xs-6 col-md-6">Hallo Pferd, wie gefällt es dir bei flatman</div>
                  <div class="col-xs-6 col-md-6">
                      <span class="time pull-right" style="font-size:x-small"><i class="fa fa-clock-o"></i> today: 13:01 PM</span>
                  </div>
                </div>
            </div>
        </div>
        <div class="panel panel-success">
            <div class="list-group-item"><strong>Person1</strong></div>
            <div class="panel-footer">
                <div class="row">
                  <div class="col-xs-6 col-md-6">Hallo Pferd, wie gefällt es dir bei flatman</div>
                  <div class="col-xs-6 col-md-6">
                      <span class="time pull-right" style="font-size:x-small"><i class="fa fa-clock-o"></i> today: 13:01 PM</span>
                  </div>
                </div>
            </div>
        </div>
        <div class="panel panel-success">
            <div class="list-group-item"><strong>Person1</strong></div>
            <div class="panel-footer">
                <div class="row">
                  <div class="col-xs-6 col-md-6">Hallo Pferd, wie gefällt es dir bei flatman</div>
                  <div class="col-xs-6 col-md-6">
                      <span class="time pull-right" style="font-size:x-small"><i class="fa fa-clock-o"></i> today: 13:01 PM</span>
                  </div>
                </div>
            </div>
        </div>
        <div class="panel panel-success">
            <div class="list-group-item"><strong>Person1</strong></div>
            <div class="panel-footer">
                <div class="row">
                  <div class="col-xs-6 col-md-6">Hallo Pferd, wie gefällt es dir bei flatman</div>
                  <div class="col-xs-6 col-md-6">
                      <span class="time pull-right" style="font-size:x-small"><i class="fa fa-clock-o"></i> today: 13:01 PM</span>
                  </div>
                </div>
            </div>
        </div>
        <div class="panel panel-success">
            <div class="list-group-item"><strong>Person1</strong></div>
            <div class="panel-footer">
                <div class="row">
                  <div class="col-xs-6 col-md-6">Hallo Pferd, wie gefällt es dir bei flatman</div>
                  <div class="col-xs-6 col-md-6">
                      <span class="time pull-right" style="font-size:x-small"><i class="fa fa-clock-o"></i> today: 13:01 PM</span>
                  </div>
                </div>
            </div>
        </div>
        <div class="panel panel-success">
            <div class="list-group-item"><strong>Person1</strong></div>
            <div class="panel-footer">
                <div class="row">
                  <div class="col-xs-6 col-md-6">Hallo Pferd, wie gefällt es dir bei flatman</div>
                  <div class="col-xs-6 col-md-6">
                      <span class="time pull-right" style="font-size:x-small"><i class="fa fa-clock-o"></i> today: 13:01 PM</span>
                  </div>
                </div>
            </div>
        </div>
        <div class="panel panel-success">
            <div class="list-group-item"><strong>Person1</strong></div>
            <div class="panel-footer">
                <div class="row">
                  <div class="col-xs-6 col-md-6">Hallo Pferd, wie gefällt es dir bei flatman</div>
                  <div class="col-xs-6 col-md-6">
                      <span class="time pull-right" style="font-size:x-small"><i class="fa fa-clock-o"></i> today: 13:01 PM</span>
                  </div>
                </div>
            </div>
        </div>
  </div>
  -->