<% content_for :title, t('.page_title') %>

<% content_for :page_header, t('.page_header') %>
<div class="container">
      <a style="cursor:pointer; text-decoration: none; color:black;" data-toggle="modal" data-target="#myModal">
        <div class="row">
          <div class="panel panel-success">
            <div class="list-group-item"><span class="badge">14</span><strong>Person1</strong></div>
              <div class="panel-footer">
                <div class="row">
                  <div class="col-xs-6 col-md-6">Hallo Pferd, wie gefällt es dir bei flatman</div>
	            <div class="col-xs-6 col-md-6">
                      <span class="time"><p class="text-right" style="font-size:x-small"><i class="fa fa-clock-o"></i> today: 13:01 PM</p></span>
	            </div>
	        </div>
              </div>
          </div>
        </div>
      </a>
<a style="cursor:pointer; text-decoration: none;" data-toggle="modal" data-target="#myModal">
  <div class="row">
    <div class="panel panel-success">
      <div class="list-group-item"><span class="badge">14</span><strong>Person1</strong></div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-xs-6 col-md-6">Hallo Pferd, wie gefällt es dir bei flatman</div>
            <div class="col-xs-6 col-md-6">
              <span class="time"><p class="text-right" style="font-size:x-small"><i class="fa fa-clock-o"></i> today: 13:01 PM</p></span>
            </div>
          </div>
        </div>
    </div>
  </div>
</a>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Person2</h4>
      </div>
      <div class="modal-body" style="height: 420px; overflow-y: auto; overflow-x: hidden;">
	<div class="row">
          <div class="panel panel-success">
            <div class="list-group-item"><strong>Person1</strong></div>
              <div class="panel-footer">
                <div class="row">
                  <div class="col-xs-6 col-md-6">Hallo Pferd, wie gefällt es dir bei flatman</div>
                  <div class="col-xs-6 col-md-6">
                    <span class="time pull-right" style="font-size:x-small"><i class="fa fa-clock-o"></i> today: 13:01 PM</span>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="panel panel-success">
            <div class="list-group-item"><strong>Person1</strong></div>
              <div class="panel-footer">
                <div class="row">
                  <div class="col-xs-6 col-md-6">Hallo Pferd, wie gefällt es dir bei flatman</div>
                  <div class="col-xs-6 col-md-6">
                    <span class="time"><p class="text-right" style="font-size:x-small"><i class="fa fa-clock-o"></i> today: 13:01 PM</p></span>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="panel panel-success">
            <div class="list-group-item"><strong>Person1</strong></div>
              <div class="panel-footer">
                <div class="row">
                  <div class="col-xs-6 col-md-6">Hallo Pferd, wie gefällt es dir bei flatman</div>
                  <div class="col-xs-6 col-md-6">
                    <span class="time"><p class="text-right" style="font-size:x-small"><i class="fa fa-clock-o"></i> today: 13:01 PM</p></span>
                  </div>
                </div>
              </div>
          </div>
        </div>
	<div class="row">
          <div class="panel panel-success">
            <div class="list-group-item"><strong>Person1</strong></div>
              <div class="panel-footer">
                <div class="row">
                  <div class="col-xs-6 col-md-6">Hallo Pferd, wie gefällt es dir bei flatman</div>
                  <div class="col-xs-6 col-md-6">
                    <span class="time pull-right" style="font-size:x-small"><i class="fa fa-clock-o"></i> today: 13:01 PM</span>
                  </div>
                </div>
              </div>
          </div>
        </div>
	<div class="row">
          <div class="panel panel-success">
            <div class="list-group-item"><strong>Person1</strong></div>
              <div class="panel-footer">
                <div class="row">
                  <div class="col-xs-6 col-md-6">Hallo Pferd, wie gefällt es dir bei flatman</div>
                  <div class="col-xs-6 col-md-6">
                    <span class="time pull-right" style="font-size:x-small"><i class="fa fa-clock-o"></i> today: 13:01 PM</span>
                  </div>
                </div>
              </div>
          </div>
	</div> <!-- modal body -->
      </div>
      <div class="modal-footer">
	<div class="row">
          <div class="col-lg-12">
            <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Send</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </span>
            </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
