<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
		<div class="panel">
			<form role="form" ng-submit="addMessage()" name="newsForm" class="panel-body">
				<div class="col-sm-2 col-md-2 col-lg-2 hidden-xs">
					<img ng-src="{{current_user.image_path}}" class="img-circle news-image-add">
				</div>
				<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
					<textarea class="form-control news-textfield" rows="3"  autofocus="autofocus" id="news_text" ng-model="newsText" name="news_text" placeholder="<%= t('.sampletext_placeholder') %>" type="text" required></textarea>
				</div> 

				<div class="col-xs-12  news-button-add">
					<button class="btn btn-primary pull-right" type="submit" type="submit" ng-disabled="!newsForm.$valid">
                  		<span class="glyphicon glyphicon-plus"></span> <span><%= t(".send") %></span>
                	</button>
				</div>
			</form>
       </div>
       <hr>

       	<div ng-repeat="n in news" class="panel panel-default" style="background-color: rgb(250,250,250)">
			<div class="panel-heading">
				<div class="row">
				<div class="col-sm-2 col-md-2 col-lg-1 col-xs-2">
					<img ng-src="{{n.image}}" ng-show="n.category == 0" class="img-circle news-image"-->
					<span class="fa fa-bitcoin fa-3x" ng-show="n.image == 'finance'"></span>
					<span class="fa fa-shopping-cart fa-3x" ng-show="n.image == 'shopping'"></span>
					<span class="fa fa-globe fa-3x" ng-show="n.image == 'resource'"></span>
				</div>
				<div class="col-xs-10 col-sm-10 col-md-10 col-lg-11">
					<span class="news-name">{{n.name}}</span> {{n.header}} <br>
					<span class="news-date">{{n.date}}</span>
				</div>
			</div>
			</div>

			<div ng-show="n.text != ''"class="panel-body">
				<div class="col-xs-12" style="word-wrap:break-word;">
					<span>{{n.text}}</span>
				</div>
			<div>
       </div>
    </div>
</div>