<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
		
		<div class="row">
			<form role="form" ng-submit="addMessage()" name="newsForm">
				<div class="col-sm-1 col-md-1 col-lg-1 hidden-xs">
					<img ng-src="{{current_user.image_path}}" class="img-circle news-image-add">
				</div>
				<div class="col-xs-12 col-sm-11 col-md-11 col-lg-11">
					<div class="input-group">
                      <input type="text" class="form-control"
                              ng-model="newsText"
                              maxlength="240"
                              placeholder="<%= t('.sampletext_placeholder') %>" required>
                      <span class="input-group-btn">
                        <button class="btn btn-primary"
                                type="submit"
                                ng-disabled="!newsForm.$valid">
                          <span class="glyphicon glyphicon-plus"></span> <span class="hidden-xs"><%= t(".send") %></span>
                        </button>
                      </span>
                    </div>
			</div>
			</form>
       </div>
       <hr>
       	<div ng-repeat="n in news" class="panel" 
       		ng-class="{'panel-warning' : n.type == 'finance', 'panel-success' : n.type == 'resource', 'panel-info': n.type == 'shopping', 'panel-default' : n.type == 'message', 'clickable' : n.type != 'message'}"
       		ng-click="redirectToSource(n.type)"
       		style="margin-bottom: 10px "
       		>
			<div class="panel-heading">
				<div class="row">
				<div class="col-sm-1 col-md-1 col-lg-1 col-xs-2">
					<img ng-src="{{n.link}}" ng-show="n.type == 'message'" class="img-circle news-image"-->
					<span class="fa fa-bitcoin fa-2x" ng-show="n.type == 'finance'"></span>
					<span class="fa fa-shopping-cart fa-2x" ng-show="n.type == 'shopping'"></span>
					<span class="fa fa-globe fa-2x" ng-show="n.type == 'resource'"></span>
				</div>
				<div style="word-wrap:break-word;" class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
					<span class="news-name">{{n.name}}<span ng-show="n.text != ''">:</span></span> 
					<span class="nowrap" ng-show="n.header != ''"> {{n.header}} </span>
					<span ng-show="n.text != ''"> {{n.text}}</span>
					<br>
					<span class="news-date">{{n.date}}</span>
				</div>
			</div>
			</div>
       </div>

    </div>
</div>