<% content_for :title, t('.page_title') %>
<% content_for :page_header, t('.page_header') %>



<div class="row">
   <div id="strom" class="col-sm-12">
      <h1>Strom <i class="fa fa-edit"></i></h1>
   </div>
   <div class="col-sm-6">
      <div class="btn-group">
         <p>
            <button id="editable-sample_new" class="btn btn-primary">
            Add New <i class="fa fa-plus"></i>
            </button>
         </p>
      </div>
      <div class="adv-table editable-table ">
         <table class="table table-striped table-hover table-borderless table-scrollable" id="editable-sample">
            <thead>
               <tr>
                  <th>Datum</th>
                  <th>Wert</th>
                  <th>Verbrauch</th>
                  
               </tr>
            </thead>
            <tbody>
               <tr class="">
                  <td>12.01.2013</td>
                  <td>36984</td>
                  <td>€ 14,00 <button class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-trash"></span> </button></td>
               </tr>
               <tr class="">
                  <td>12.01.2013</td>
                  <td>36984</td>
                  <td>€ 14,00 <button class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-trash"></span> </button></td>
               </tr>
               <tr class="">
                  <td>12.01.2013</td>
                  <td>36984</td>
                  <td>€ 14,00 <button class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-trash"></span> </button></td>
               </tr>
               <tr class="">
                  <td>12.01.2013</td>
                  <td>36984</td>
                  <td>€ 14,00 <button class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-trash"></span> </button></td>
               </tr>
               <tr class="">
                  <td>12.01.2013</td>
                  <td>36984</td>
                  <td>€ 14,00 <button class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-trash"></span> </button></td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
   <div id="chartdiv2" class="col-sm-6">
 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#">Chart</a></li>
                    <li><a href="#">Info</a></li>
                
                <ul class="nav navbar-right">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">01.05.2013 - 05.3.2014 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                        </ul>
                    </li>
                </ul>
                </ul>
            </div><!-- /.navbar-collapse -->
      
      <p>
         <canvas id="myChart" height="100" width="300" ></canvas>
      </p>
      <script type="text/javascript">
         var data = {
             labels : ["January","February","March","April","May","June","July"],
             datasets : [
             {
                  fillColor : "rgba(151,187,205,0.5)",
                  strokeColor : "rgba(151,187,205,1)",
                  pointColor : "rgba(151,187,205,1)",
                  pointStrokeColor : "#fff",
                 data : [65,59,90,81,56,55,40]
             }
             ]
         }
        var chart = document.getElementById("myChart");
        chart.height =  document.getElementById('chartdiv').offsetHeight +100;
                chart.width = document.getElementById('chartdiv').offsetWidth;
         var ctx = document.getElementById("myChart").getContext("2d");
         new Chart(ctx).Line(data,null);
      </script>
   </div>


<div class="col-sm-12">
      <hr>
   </div>


<div id="strom" class="col-sm-12">
      <h1>Gas <i class="fa fa-edit"></i></h1>
   </div>
   <div class="col-sm-6">
      <div class="btn-group">
         <p>
            <button id="editable-sample_new" class="btn btn-primary">
            Add New <i class="fa fa-plus"></i>
            </button>
         </p>
      </div>
      <div class="adv-table editable-table ">
         <table class="table table-striped table-hover table-borderless table-scrollable" id="editable-sample">
            <thead>
               <tr>
                  <th>Datum</th>
                  <th>Wert</th>
                  <th>Verbrauch</th>
                  
               </tr>
            </thead>
            <tbody>
               <tr class="">
                  <td>12.01.2014</td>
                  <td>36984</td>
                  <td>€ 14,00 <button class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-trash"></span> </button></td>
               </tr>
               <tr class="">
                  <td>12.04.2013</td>
                  <td>36984</td>
                  <td>€ 14,00 <button class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-trash"></span> </button></td>
               </tr>
               <tr class="">
                  <td>12.01.2013</td>
                  <td>36984</td>
                  <td>€ 14,00 <button class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-trash"></span> </button></td>
               </tr>
               <tr class="">
                  <td>12.01.2013</td>
                  <td>36984</td>
                  <td>€ 35,00 <button class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-trash"></span> </button></td>
               </tr>
               <tr class="">
                  <td>12.01.2013</td>
                  <td>36984</td>
                  <td>€ 14,00 <button class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-trash"></span> </button></td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
   <div id="chartdiv" class="col-sm-6">
 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#">Chart</a></li>
                    <li><a href="#">Info</a></li>
                
                <ul class="nav navbar-right">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">01.10.2013 - 25.02.2014 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                        </ul>
                    </li>
                </ul>
                </ul>
            </div><!-- /.navbar-collapse -->
      
      <p>
         <canvas id="gasChart" height="100" width="300" ></canvas>
      </p>
      <script type="text/javascript">
         var data = {
             labels : ["January","February","March","April","May","June","July"],
             datasets : [
             {
                 fillColor : "rgba(220,220,220,0.5)",
                 strokeColor : "rgba(220,220,220,1)",
                 pointColor : "rgba(220,220,220,1)",
                 pointStrokeColor : "#fff",
                 data : [80,99,10,31,46,85,50]
             }
             ]
         }
        var chart = document.getElementById("gasChart");
        chart.height =  document.getElementById('chartdiv2').offsetHeight;
        chart.width = document.getElementById('chartdiv2').offsetWidth;
         var ctx = document.getElementById("gasChart").getContext("2d");
         new Chart(ctx).Line(data,null);
      </script>
   </div>

   <div class="col-sm-12">
      <hr>
   </div>
   <div class="col-sm-12">
         <button class="btn btn-primary" data-toggle='modal' data-target="#addRessource" type="submit">add ressource <i class="fa fa-plus"></i></button>

   </div>
   <div class="modal fade" id="addRessource" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add Ressource</h4>
      </div>
      <div class="modal-body" style="overflow-y: auto; overflow-x: hidden;">
          <div class="form-group">
          <label for="ressource_name">Name</label>
            <div class="input-group">
              <input autofocus="autofocus" id="ressource_name" name="ressource_name" placeholder="electricity" type="text" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-pencil"></span>
              </span>
            </div>
          </div>

          <div class="form-group">
          <label for="ressource_unit">Unit Name</label>
            <div class="input-group">
              <input autofocus="autofocus" id="ressource_unit" name="ressource_unit" placeholder="kw/h" type="text" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-pencil"></span>
              </span>
            </div>
          </div>

          <div class="form-group">
          <label for="ressource_pricePerUnit">Price/Unit</label>
            <div class="input-group">
              <input autofocus="autofocus" id="ressource_pricePerUnit" name="ressource_pricePerUnit" placeholder="€ 0,13" type="text" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-euro"></span>
              </span>
            </div>
          </div>

          <div class="form-group">
          <label for="ressource_priceMonth">Monthly Costs</label>
            <div class="input-group">
              <input autofocus="autofocus" id="ressource_priceMonth" name="ressource_priceMonth" placeholder="€ 5,45" type="text" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-euro"></span>
              </span>
            </div>
          </div>

          <div class="form-group">
          <label for="ressource_priceYear">Annual Costs</label>
            <div class="input-group">
              <input autofocus="autofocus" id="ressource_priceYear" name="ressource_priceYear" placeholder="€ 13,14" type="text" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-euro"></span>
              </span>
            </div>
          </div>

          <div class="form-group">
          <label for="ressource_name">Start Value</label>
            <div class="input-group">
              <input autofocus="autofocus" id="ressource_startValue" name="ressource_startValue" placeholder="52140" type="text" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-wrench"></span>
              </span>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
</div>

