<div class="page-head dropdown">
    <h1 class="page-header page-header-fixed-xs">
        <span class="fa fa-globe"></span>
        <%=t ( '.page_header') %>
        <a href="/#/create_resource">
            <button ng-click="setUpdateResource('add', '')" class="btn btn-primary pull-right"> <i class="fa fa-plus"></i>
                <span class="hidden-xs">
                    <%=t ( '.add') %>
                </span>
            </button>
        </a>
    </h1>
</div>

<div class="row scrollable-content-xs">
    <div ng-repeat="resource in resources" resources-repeat-directive>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2 class="pull-left">{{resource.name}}
                        <span class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/#/update_resource/{{resource.id}}">
                                        <span class="fa fa-edit"></span>
                                        <%=t( ".edit") %>
                                    </a>
                                </li>
                                <li>
                                    <a href="" ng-click="removeResource(resource, '<%= t('.questionDeleteResource') %>')">
                                        <span class="glyphicon glyphicon-trash"></span>
                                        <%=t( ".delete") %>
                                    </a>
                            </ul>
                        </span>
                    </h2>

                    <pagination on-select-page="setPage(resource, page)" total-items="resource.entryLength" page="resource.page" items-per-page="entriesPerPage" max-size="5" class="hidden-xs pagination-sm pull-right" boundary-links="true" ng-hide="entriesPerPage >= resource.entryLength" rotate="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                    </pagination>

                    <pagination on-select-page="setPage(resource, page)" total-items="resource.entryLength" page="resource.page" items-per-page="entriesPerPage" max-size="2" ng-hide="entriesPerPage >= resource.entryLength" class="visible-xs pagination-sm pull-right" boundary-links="true" rotate="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                    </pagination>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="adv-table editable-table">
                        <table class="table table-striped table-hover table-borderless table-scrollable" id="editable-sample">
                            <thead>
                                <tr>
                                    <th>
                                        <%=t ( '.date') %>
                                    </th>
                                    <th class="text-right">
                                        <%=t ( '.value') %>
                                    </th>
                                    <th class="hidden-xs text-right">
                                        <%=t ( '.usage') %>
                                    </th>
                                    <th class="text-right">
                                        <%=t ( '.costs') %>
                                    </th>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="entry in resource.entries">
                                    <td class="hidden-xs">{{entry.date| date : 'longDate'}}</td>
                                    <td class="visible-xs">{{entry.date| date : 'shortDate'}}</td>
                                    <td class="text-right">{{formatNumber(entry.value)}}
                                        <span class="hidden-xs">{{resource.unit}}</span>
                                    </td>
                                    <td class="hidden-xs text-right">{{formatNumber(entry.usage)}} {{resource.unit}}</td>
                                    <td class="text-right">
                                        {{entry.costs| customCurrency : '€ '}}
                                    </td>
                                    <td>
                                        <button class="btn btn-default btn-xs pull-right" ng-hide="entry.isFirst == true" ng-click="removeEntry(resource, entry)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer announcement-bottom">
                        <form role="form" name="Itemform" ng-submit="addEntry(resource)">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>

                                <span class="input-group-btn" style="width:90px;">
                                    <input type="text" onfocus="blur();" class="btn btn-default form-control" show-button-bar="false" showWeeks="false" datepicker-popup="shortDate" show-weeks="false" ng-model="resource.date" ng-required="true" />
                                </span>

                                <input type="text" class="form-control" ng-model="resource.entryvalue" maxlength="30" placeholder="<%= t('.resourceValue') %>
                                       " required numberinput/>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit" ng-disabled="!Itemform.$valid">
                                        <span class="fa fa-plus"></span>
                                        <span class="hidden-xs">
                                            <%=t ( ".add") %>
                                        </span>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="hidden-xs hidden-sm col-md-6 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="btn-group">
                        <button type="button" ng-class="{active: resource.showChart}" ng-click="showInfos(resource, true)" class="btn btn-default">
                            <%=t ( '.chart') %>
                        </button>
                        <button type="button" ng-class="{active: resource.showChart == false}" ng-click="showInfos(resource, false)" class="btn btn-default">
                            <%=t ( '.data') %>
                        </button>
                    </div>

                    <div class="btn-group pull-right">
                        <input style="width:90px" class="btn btn-default" type="text" onfocus="blur();" show-button-bar="false" ng-change="getChartData(resource)" show-weeks="false" datepicker-popup="shortDate" ng-model="resource.chartDateRange.startDate" date-disabled="disabled(date, mode)" ng-required="true" />
                        <input class="btn btn-default" type="text" style="width:90px" onfocus="blur();" show-button-bar="false" ng-change="getChartData(resource)" datepicker-popup="shortDate" show-weeks="false" ng-model="resource.chartDateRange.endDate" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                        <button ng-disabled="true" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                </div>
                <div class="panel-body">
                    <div ng-show="resource.showChart">
                        <div ng-show="resource.chart.labels.length > 1">
                            <canvas linechart options="resource.options" data="resource.chart" width="523" height="260"></canvas>
                        </div>
                        <div class="col-md-offset-1" ng-hide="resource.chart.labels.length > 1">
                            <div>
                                <h4>
                                    <%=t ( '.addMoreEntriesForChart') %>
                                </h4>
                            </div>
                        </div>
                    </div>

                    <div ng-hide="resource.showChart">
                        <div class="adv-table">
                            <div class="col-md-offset-1" ng-show="resource.overview.general.length == 0">
                                <h4>
                                    <%=t ( '.addMoreEntriesForOverview') %>
                                </h4>
                            </div>
                            <table class="table table-striped table-hover table-borderless ">
                                <tbody>
                                    <tr ng-repeat="info in resource.overview.general">
                                        <td>{{info.name}}</td>
                                        <td class="text-right">{{info.usage}} {{resource.unit}}</td>
                                        <td class="text-right">€ {{info.costs}}</td>
                                    </tr>
                                    <tr ng-repeat="info in resource.overview.years">
                                        <td>... {{info.name}}</td>
                                        <td class="text-right">{{info.usage}} {{resource.unit}}</td>
                                        <td class="text-right">€ {{info.costs}}</td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xs-12 col-lg-12">
            <hr>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="jumbotron text-center" ng-show="resources.length === 0 && !isLoading()">
            <i class="fa fa-globe fa-5x"></i>
            <h2>
                <%=t ( ".help_title") %>
            </h2>
            <%=t ( ".help_paragraph1") %>
                <br>
                <%=t ( ".help_paragraph2") %>
        </div>
    </div>

</div>
