<h1><%= t('.page_header') %> "{{term}}"</h1>

<h3><%=t(".available_items")%></h3>
	<div ng-show="searchdata.items.length > 0">
		
    	
    <accordion close-others="true">	
    	<accordion-group is-open="status.open" data-ng-repeat="item in searchdata.items">
        	<accordion-heading>{{item.data.name}} ({{item.distance}} <%=t(".km_away")%>)
    			<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
    		</accordion-heading>
    		
    		
    		
    		
    		<div class="col-lg-3">
    			<a href="{{item.data.image}}" class="image-link"	>
	      			<img class="img-rounded" width="80" ng-src="{{item.data.thumb}}"   >
	      		</a>
			</div>
			<div class="col-lg-9 ">
	      			 <h4 class="media-heading">Media heading</h4>
	      			 <p>{{item.data.description}}</p>
			</div>
	     
      </accordion-group>
    </accordion>
     
</div>
<div class="alert alert-warning" ng-show="searchdata.items.length===0"><%=t(".no_items_found")%></div>


