<div>
    <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="form-group col-md-8">
          <!--<label for="disabledTextInput">new list</label>-->
          <form role="form" ng-submit="addTodoList()">
              <div class="input-group">
                  <input type="text" class="form-control" ng-model="todoListName" maxlength="30" placeholder="new shopping list">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit" type="submit">add</button>
                  </span>
               </div>
           </form>
        </div>
        <div class="col-md-2">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-4" ng-repeat="list in lists track by $index">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="form-group">
                        <strong>{{list.name}}</strong>
                        <button class="btn btn-default btn-xs pull-right" type="button" ng-click="removeTodoList(list)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                    <ul class="list-unstyled">
                        <li ng-repeat="todo in list.todos track by $index">
                          <input id="{{''+$parent.$index+$index}}" type="checkbox" ng-model="todo.done">
                          <label for="{{''+$parent.$index+$index}}" class="done-{{todo.done}}">
                            {{todo.text}}
                          </label>
                          <a href="" class="pull-right" ng-click="removeTodo(list,todo)">
                            <span class="glyphicon glyphicon-remove"></span>
                          </a>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer announcement-bottom">
                    <form role="form" ng-submit="addTodo(list)">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="list.new_Text" maxlength="30" placeholder="add item here">
                          <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">add</button>
                          </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

