<% if !item.nil? %>
    <% if item.errors.any? %>
        <h3 id="validation_errors" class="text-danger"><%= t('misc.forms.errors_in_form') %></h3>
        <% item.errors.each do |field, error| %>
            <div class="alert alert-danger"><%= error%></div>
        <% end %>
        <script type="text/javascript">
            location.hash="validation_errors";
        </script>
    <% end %>
<% end %>
