<% content_for :robots, "INDEX, FOLLOW" %>

<% content_for :title, t('.page_title') %>

<% content_for :page_header, t('.page_header') %>

<blockquote>
  <p>Everything should be made as simple as possible, but not simpler</p>
  <small>Albert Einstein in <cite title="Philosophy of Science, Vol. 1, No. 2 (April 1934), pp. 163-169, p. 165.">Philosophy of Science</cite></small>
</blockquote>

<p>
    <%= t( '.page_content.paragraph_1' ) %>
</p>

<p>
    <%= t( '.page_content.paragraph_2' ) %>
</p>

<p>
    <%= t( '.page_content.greetings' ) %><br>
    <%= t( 'helpers.quisions_team' ) %>
</p>
