@import "bootstrap/variables";
/* http://stackoverflow.com/questions/13432311/ng-cloak-and-ng-show-flashes-the-hidden-element-on-screen */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

/* fix bootstrap 3 default form style */
input[type=text], input[type=email], select {
    @extend .form-control;
}
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400);
html *
{
    font-family: 'Source Sans Pro', sans-serif;
} 

/* fix rails bootstrap invalid field higlighting */
.field_with_errors {
    @extend .has-error;
}

.alert-notice {
    @extend .alert-success;
}
.alert-error {
    @extend .alert-danger;
}
.alert-alert {
    @extend .alert-warning;
}

.hrjumbo{
  background-color: DarkGrey ; height: 1px; border: 0;
}

.done-true {
  text-decoration: line-through;
  color: grey;
}

.td-remove-boarder{
  border: 0px !important
}

.news-date {
  color:grey;
  font-size: 11px;
  margin-right: 10px;
}

.news-comment {
  color:grey;
  font-size: 11px;
  font-weight: bold;
}

.padding-small-bottom{
  margin-bottom: 12px
}

.padding-small{
 padding-right:0;
  padding-left:0;
}


.news-name {
  font-weight: bold;
}

.bold {
   font-weight: bold;
}

.news-image {
  width: 35px;
  height: 35px;
  text-align: center;
}

.news-image-flatman {
  width: 45px;
  height: 45px;
}

.news-icon {
  font-size:30px;
  text-align: center;
  vertical-align: middle;
}

.nowarp {
  white-space:nowrap;
}
.news-image-add {
  width:35px;
  margin-bottom:0px
}

.news-image-comment {
  width:30px;
}

.announcement-heading {
  font-size: 30px;
  margin: 0;
}

.announcement-heading-xs {
}

.announcement-heading-text-xs{
  font-size: 10px !important;
}
.announcement-text {
  margin: 0;
}

.padding-left {
  margin-left: 10px; 
}

.padding-right {
  margin-right: 10px;
}

.announcement-heading-xs {
  font-size: 23px;
}

// input.ng-dirty {
//     border-color: #8a6d3b;
// }

input.ng-error {
    border-color: #a94442;
}

canvas{
        width: 100% !important;
        max-width: 800px;
        height: auto !important;
    }

/* disable rounded corners */
 * {
   -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
           border-radius: 0 !important;
 }

/* add a cursor to following classes */
.nav, .pagination, .clickable, .carousel, .panel-title a 
{ 
  cursor: pointer; 
}

// http://stackoverflow.com/questions/8222528/ios5-show-numeric-keypad-by-default-without-using-type-number-or-type-tel
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// http://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-inputs-spin-box
input[type='number'] {
    -moz-appearance:textfield;
}

.btn-group-header {
  display: relative;
  max-width: 400px;
  bottom: 15px;
  top: 25px;
  float: right!important;
}
.marg-bottom-md {
  margin-bottom: 20px;
}
.si-hidden-true h3{
  text-decoration: line-through;
  color: #ccc;
}
.panel-title a {
  display: block;
}

.sharing-item .input-group .form-control {
  font-size: 16px!important;
}

.navbar-inverse .navbar-btn {
  background-color: #222222;
  border-color: #333333;
  color: #999999;
}
.navbar-inverse .navbar-btn:hover {
  color: #ffffff;
  background-color: #333333;
}

.page-header-right { padding-bottom: 14px; margin: 40px 0 20px; }

@media (max-width: $screen-xs) {
  .page-header {
    padding-top: 15px!important;
    padding-bottom: 10px!important;
    margin-top:0px!important;
  }
  .page-header-fixed-xs {
    position:fixed;
    width: 100%;
    height: 65px;
    padding-right: 10px!important;
    padding-left:0px!important;
    z-index: 10;
    margin-top:-9px!important;
    background-color: white;
  }

  .scrollable-content-xs{
    padding-top:70px;
  }

  h1 {font-size: 28px;}

  .reduce-padding-xs { padding-left: 5px!important; padding-right: 5px!important; }
  .reduce-padding-xs-left { padding-left: 5px!important; }
  .reduce-padding-xs-right { padding-right: 5px!important; }

  .container{
       padding-left: 5px!important; padding-right: 5px!important;
       overflow-x: hidden;
   }

   .page-header-right { padding-bottom: 10px; margin: 0px; }

   .btn-responsive { 
                    white-space: normal; 
                    word-wrap: break-word; 
                    margin-top:5px; 
                    margin-left:0px!important;
                    width: 100%; 
                  }
}


@media (max-width: $screen-sm) {
 .announcement-icon {
    font-size: 21px;
    padding-top: 6px;
  }
}


.panel-flatman {
  border-color: #c9a61c;
}
.panel-flatman > .panel-heading {
  color: #000000;
  background-color: #ffd530;
  border-color: #c9a61c;
}
.panel-flatman > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #c9a61c;
}
.panel-flatman > .panel-heading .badge {
  color: #000000;
  background-color: #ffffff;
}
.panel-flatman > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #c9a61c;
}


