@media screen and (max-width: 568px) {
    h1 {
    	font-size:170%;
    }

    .modal-body {
    	font-size:80%;
    }

    .btn-block {
    	font-size: 80%;
    }

    .form-control {
    	font-size: 80%;
    	margin: 100px, 100px, 100px, 100px;
    }

    .btn-group.btn-block {
    	margin-top: 10px;
    }

}
