@import "bootstrap";
@import "bootstrap-social";
@import "font-awesome";
@import "welcome/jquery.pagepiling";

/* -------------------------------------- General */
#navbar {
  border: 0;
  box-shadow: none;
}

html *
{
    font-family: 'Source Sans Pro', sans-serif;
} 


#trigger-overlay .icon-bar {
  background-color: #000;
}

.flatman-image__badge {
  width: 135px;
  height: 40px;
  margin-bottom: 15px;
}

#pp-nav.right {
  right: 0;
}

a {
  color: #000;
}
a:hover, a:focus,
.nav>li>a:hover, .nav>li>a:focus {
  color: #000;
  background: transparent;
  text-decoration: underline;
}

.flatman-text__size--20 {
  font-size: 20px;
}

/* -------------------------------------- Full Screen Navigation */
/* Overlay style */
.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #FFD530;
  opacity: 1;
  visibility: visible;
  z-index: 1031;

  /* Overlay closing cross */
  & .overlay-close {
    width: 44px;
    height: 34px;
    position: absolute;
    right: 15px;
    top: 9px;
    overflow: hidden;
    border: none;
    outline: none;
    background: transparent;
  }

  /* Menu style */
  & nav {
    text-align: center;
    position: relative;
    top: 50%;
    height: 60%;
    font-size: 4rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

    @media screen and (max-height: 30.5em) {
      height: 70%;
      font-size: 34px;
    }
  }

  & ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative;

    & li {
      display: block;
      height: 20%;
      height: calc(100% / 5);
      min-height: 54px;

      @media screen and (max-height: 30.5em) {
        min-height: 34px;
      }

      &:first-child {
        margin-bottom: 30px;
      }

      & a {
        font-weight: 300;
        display: block;
        color: #000;
        -webkit-transition: text-decoration 0.2s;
        transition: text-decoration 0.2s;

        &:hover, &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}

/* -------------------------------------- Content Sections */
.flatman-section {
  padding: 30px;
  text-align: center;
  background-color: #FFD530;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 15px;

  & h3 {
    margin-top: 10px;
    margin-bottom: 0;    
  }

  & h2 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

.flatman-section__screenshot {
  width: 100%;
  height: 220px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.flatman-section__description {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 200px;
  max-width: 450px;
  margin: 0 auto;
  padding: 30px;
  color: #000;
}

@media ( min-width: 768px ){
  .flatman-section__main {
    background-image: url( image_path( 'flatman_mockup_empty.png' ) );

    & .flatman-section__main-description {
      max-width: 270px;
      margin: 0 auto;
      padding: 30px;
    }
  }

  .flatman-section__contact {
    background-image: url( image_path( 'flatman_mockup_empty.png' ) );

    & .flatman-section__contact-description {
      max-width: 270px;
      margin: 0 auto;
      padding: 30px;
    }
  }
}

.flatman-section__shopping-lists {
  background-color: #d9edf7;
  background-image: url( image_path( 'flatman_mockup_shopping.png' ) );

  & .flatman-section__description {
    background-color: #d9edf7;
  }
}

.flatman-section__finances {
  background-color: #fcf8e3;
  background-image: url( image_path( 'flatman_mockup_finances.png' ) );

  & .flatman-section__description {
    background-color: #fcf8e3;
  }
}

.flatman-section__resources {
  background-color: #dff0d8;
  background-image: url( image_path( 'flatman_mockup_resources.png' ) );

  & .flatman-section__description {
    background-color: #dff0d8;
  }
}

/* -------------------------------------- Section Main */
.flatman-intro__subtitle {
  padding-bottom: 15px;
  text-transform: uppercase;
}

.flatman-link__web-login {
  display: block;
  text-align: center;
  padding-top: 15px;
}

.flatman-image__dashboard {
  display: block;
  max-height: 500px;
  max-width: 350px;
  margin: 0 auto;
}