<!DOCTYPE html>
<html lang="en" ng-app="flatman">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height,  initial-scale=1.0, user-scalable=no, user-scalable=0, maximum-scale=1"/>
    <meta property="og:description" name="description" content="<%= content_for?(:description) ? yield(:description) : t('.default_description') %>">
    <meta name="robots" content="<%= yield :robots %>">
    <meta name="author" content="Clemens Brunner, Michael Froewis">
    <meta name="google-site-verification" content="24dGcQyKurRHX8RcO9sXp5pB-LqGotGHMVUM-U3YsgU" />
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="keywords" content="flatman, wg, finanzen, finances, strom, gas, zählerstände, verwalten, manage, flatman, electricity, finances, flat, shared flat, innsbruck, austria, clemens, michael, brunner, froewis, cool, newsfeed">
    <meta http-equiv="content-language" content="de">
    <meta property="og:image" content="<%= image_path("flatman_logo_30.png")%>" />
    <meta property="og:title" content="Flatman"/>
    <meta property="og:type" content="finances" />
    <meta property="og:url" content="https://www.flatman.at" />

    <title>FlatMan<%= " » " + h(yield(:title)) if content_for?(:title) %></title>
    <%= stylesheet_link_tag "application", media: "all"%>
    <%= csrf_meta_tags %>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-controller="rootCtrl" hm-swipe-left="go_right()" hm-swipe-right="go_left()">

    <!-- loading overlay before ng-cloak -->
    <div class="splash" ng-cloak>
      <div class="loading-overlay">
        <span class="fa fa-refresh fa-spin fa-5x loading-overlay-centered"></span>
      </div>
    </div>

    <!-- loading overlay for small devices -->
    <div ng-show="isLoading()">
      <div class="visible-xs loading-overlay">
        <span class="fa fa-refresh fa-5x fa-spin loading-overlay-centered"></span>
      </div>
    </div>

    <div class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation" ng-cloak>
      <div class="container-fluid">
        <div class="navbar-header">
          <% if is_user_ready_to_go %>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <button type="button" class="btn btn-default navbar-btn pull-right visible-sm visible-xs" ng-click="reload_view()" style="margin-right:10px">
              <span class="fa fa-refresh fa-lg" ></span>
            </button>
          <%end%>
          <% if not is_user_ready_to_go and logged_in %>
            <a href="/signout" class="btn btn-default navbar-btn pull-right visible-sm visible-xs"><span class="glyphicon glyphicon-off"></span> <%=t("misc.titles.logout")%></a>
          <%end%>
          <a class="navbar-brand" href="/#/newsfeed"><%= image_tag("flatman_logo_30.png", width: 30) %> flatman</a>
        </div>
        <% if not is_user_ready_to_go and logged_in %>
        <div class="navbar-collapse collapse no-transition">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/signout"><span class="fa fa-power-off fa-fw fa-lg"></span> <%=t("misc.titles.logout")%></a></li>
          </ul>
        </div>
        <%end%>
        <% if is_user_ready_to_go %>
          <div class="navbar-collapse collapse no-transition">
            <ul class="nav navbar-nav">
              <li ng-class="{active:isActive('/newsfeed')}">
                <a href="/#/newsfeed" ><span class="fa fa-dashboard fa-fw fa-lg"></span>  <%=t(".navbar.newsfeed")%></a>
              </li>
              <li ng-class="{active:isActive('/shopping')}">
                <a href="/#/shopping"><span class="fa fa-shopping-cart fa-fw fa-lg"></span>  <%=t(".navbar.shopping")%></a>
              </li>
              <li ng-class="{active:isActive('/todo')}">
                <a href="/#/todo"><span class="fa fa-list-alt fa-fw fa-lg"></span>  <%=t(".navbar.pinboard")%></a>
              </li>
              <li ng-class="{active:isActive('/finances')}">
                <a href="/#/finances"><span class="fa fa-bitcoin fa-fw fa-lg"></span>  <%=t(".navbar.finances")%></a>
              </li>
              <li ng-class="{active:isActive('/resources')}">
                <a href="/#/resources"><span class="fa fa-globe fa-fw fa-lg"></span>  <%=t(".navbar.resources")%></a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="flatman-navbar-item hidden-sm hidden-xs" ng-show="isLoading()">
                <a><span class="fa fa-circle-o-notch fa-spin fa-lg" ></span></a>
              </li>
              <li class="flatman-navbar-item hidden-sm hidden-xs" ng-show="!isLoading()">
                <a ng-click="reload_view()"><span class="fa fa-refresh fa-lg" ></span></a>
              </li>
              <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="fa fa-user fa-lg fa-fw"></span> <%=current_user.name%> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li ng-class="{active:isActive('/flat_settings')}">
                    <a href="/#/flat_settings"><span class="fa fa-wrench fa-fw fa-lg"></span> <%=t(".navbar.flat_settings")%></a>
                  </li>
                  <li ng-class="{active:isActive('/user_settings')}">
                    <a href="/#/user_settings"><span class="fa fa-cog fa-fw fa-lg"></span> <%=t(".navbar.user_settings")%></a>
                  </li>
                  <li class="divider"></li>
                  <li><a href="/signout"><span class="fa fa-power-off fa-fw fa-lg"></span> <%=t("misc.titles.logout")%></a></li>
                </ul>
              </li>
            </ul>
          </div> 
        <% end %>
      </div>
    </div>

    <div id="container" class="<%= content_for?(:no_container) ? "" : "container" %>" ng-cloak>
      <section>
        <% flash.each do |key,message| %>
          <div class="alert alert-<%= key.to_s %> alert-dismissable auto-fadeout">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%=message%>
          </div>
        <% end %>

        <div class="flyover flyover-top"
              ng-class="{in:Util.has_server_errors}">
          <alert ng-repeat="error in server_errors track by $index" type="error_type" close="delete_error($index)">
            <i class="fa fa-exclamation-triangle fa-lg"></i> {{error}}
          </alert>
        </div>

        <%= yield :validation %>
      </section>

      <%= yield %>
    </div>

    <div id="footer" ng-cloak>
      <div class="container">
        <p class="text-muted">
          <div class="row">
            <div class="col-md-4 col-xs-6">
              &copy; flatman <%= Time.now.year %>
              <!--<% if is_app_user? && current_user.platform == "ios"%>
                <i class="fa fa-apple"></i>
              <%end%>
              <% if is_app_user? && current_user.platform == "android"%>
                <i class="fa fa-android"></i>
              <%end%>-->
            </div>
            <div class="col-md-4 col-xs-6 text-center">
              <%= link_to_unless(I18n.locale == :en,
                      t('misc.titles.language.english'),{locale: :en},{:onclick => "this.href=this.href+'/'+window.location.hash" })%> |
              <%= link_to_unless(I18n.locale == :de,
                      t('misc.titles.language.german'),{locale: :de},{:onclick => "this.href=this.href+'/'+window.location.hash" })%>
            </div>
            <div class="col-md-4 col-xs-4 text-right hidden-xs hidden-sm">
              <%= link_to t('misc.titles.menus.terms_and_privacy.title'), terms_path %>
            </div>
          </div>
        </p>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="../../assets/js/docs.min.js"></script>-->
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?sensor=false">
    </script>
    <%= javascript_include_tag "application" %>
    <%= yield :script %>
    <%if I18n.locale.to_s === "de"%>
        <%= javascript_include_tag "vendor/angular-locale_de-de" %>
    <%end%>
    <%
    @translator = I18n.backend
    @translator.load_translations
    @translations ||= @translator.send(:translations)[I18n.locale][:javascript]
    %>
    <script type="text/javascript">
      var locale = "<%=I18n.locale.to_s%>";
      window.I18n = <%= @translations.to_json.html_safe %>;

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48728866-2', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
